@import url(./root.css);

 nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   padding: 0 24px;
   border-bottom: 1px solid var(--very-light-pink);
 }
 .menu {
   display: none;
 }
 .logo {
   width: 25%;
 }
 .navbar-left ul,
 .navbar-carrito ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   align-items: center;
   height: 60px;
 }
 .navbar-left {
   display: flex;
   flex-direction: row;
   align-items: center;
 }
 .navbar-left ul {
   margin-left: 12px;
 }
 .navbar-left ul li a,
 .navbar-carrito ul li a {
   text-decoration: none;
   color: var(--very-light-pink);
   border: 1px solid var(--white);
   padding: 8px;
   border-radius: 8px;
   font-size: var(--lg);
 }
 .navbar-left ul li a:hover,
 .navbar-carrito ul li a:hover {
   border: 1px solid var(--border-bottons);
   color: var(--border-bottons);
 }
 .navbar-email {
   color: var(--very-light-pink);
   font-size: var(--md);
   margin-right: 12px;
   cursor: pointer;
 }
 .navbar-shopping-cart {
   position: relative;
   display: flex;
   justify-content: end;
 }
 .navbar-shopping-cart div {
   width: 16px;
   height: 16px;
   background-color: var(--border-bottons);
   border-radius: 50%;
   font-size: var(--md);
   font-weight: bold;
   position: absolute;
   top: -6px;
   right: -3px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .navbar-shopping-cart img {
  width: 10%;

}