.CartWidget {
   width: 100%;
}

.cart-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   width: 4rem;
   padding: 0.8rem;
}

.cart-container:hover {
   scale: 1.2;
}

.text-cantidad{
   text-align: center;
   padding: 3px;
   font-size: 0.9rem;
   color:darkslategrey;
   margin: 2.5px;
   font-weight: bold;
}