.list-categoria {
   display: flex;
   padding: 1.5rem;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}

.card {
   margin: 0.3rem;
}

.card-container-item:hover {
   box-shadow: 11px 11px 31px 0px rgba(118,150,145,1);
   scale: 1.02;
}

.card-body {
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: center;
   margin-top: 0;
}

.card-img-top {
   width: 80%;
   padding: 4px;
}